/* (주)한신정보기술 OOO - 2014.04.01 */
#board{width:100%;}
#board table caption{display:block;}
@media only screen and (max-width:640px){
#sub_sns_box{margin:0;}
}

/* 게시판 상단박스 */
#board .board_text_box{width:100%;box-sizing:border-box;}

/* 게시판 탑박스 */
.leftP{float:left;}
.right{float:right;}
@media only screen and (max-width:640px){
.board_top{margin:10px 0 0;}
}

/* 일반게시판 - 목록 */
#board table.bbs_default_list thead{background:none;border-bottom:1px solid #888;}
#board table.bbs_default_list tbody.tb td img{min-width:18px;}
@media only screen and (max-width:640px){
#board table.bbs_default_list{display:block;}
#board table.bbs_default_list thead{display:none;}
#board table.bbs_default_list tbody{display:block;}
#board table.bbs_default_list tr{display:block;width:100%;padding:5px 0;border-bottom:1px solid #e7e7e7;}
#board table.bbs_default_list tbody.tb td{display:inline-block;padding:0 2%;border:none;}
#board table.bbs_default_list tbody.tb td.subject{display:block;}
#board table.bbs_default_list tbody.tb td.subject a{color:#000;}
#board table.bbs_default_list tbody.tb td.subject:before{display:inline;content:'제목 : ';}
#board table tbody.tb .miwon_p{width:inherit;}
}

/* 목록 - 카테고리, 페이지수 */
#board .category input{vertical-align:top}
#board .category .ctg_left {float:left; text-align:left;}
#board .category select{font-size:1em;width:120px;height:20px}
#board .category select optgroup{color:#387cc5;font-style:inherit; }
#board .category select option{color:#444}
#board .category .ctg_right {float:right; text-align:right;margin-right:5px}
#board .category .board_dot{padding:0 0 0 11px;background: url('../images/board/dot.gif') no-repeat 0 1px;}
#board .category .small{font-size: 0.92em;;letter-spacing:-1px}
@media only screen and (max-width:640px){
#board .page_move,#board .page_move tbody,#board .page_move tr{display:block;}
#board .page_move colgroup{display:none;}
#board .page_move tr:after{clear:both;display:block;width:100%;height:0;line-height:0;content:'';display:none;visibility:hidden;}
#board .page_move th,#board .page_move td{float:left;display:inline-block;min-height:37px;padding:5px;box-sizing:border-box;}
#board .page_move th{width:15%;white-space:nowrap;}
#board .page_move td{width:85%;}
#board .page_move td a{display:inline-block;max-width:100%;vertical-align:middle;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
}

/* 목록 - 페이징 */
.pagination a, .pagination strong{height:28px;line-height:22px;box-sizing:border-box;}
/*#board .pagination a,#board .pagination strong{width:28px;height:28px;line-height:22px;box-sizing:border-box;}*/
@media only screen and (max-width:640px){
.pagination, .boardNavigation .pagination{padding:7px 0;}
.pagination img{width:18px;height:18px;}
.pagination a, .pagination strong{width:18px;height:18px;padding:0;line-height:18px;text-align:center;border:none;box-sizing:border-box;}
.pagination strong{padding:0;border:none !important;}
}

/* 목록 - 검색  */
#board .boardsearch .text{height:19px;padding:0;background-color:#f8f8f8;}
@media only screen and (max-width:640px){
#board .boardsearch{padding:15px 2%;margin:5px 0;box-sizing:border-box;}
#board .boardsearch select{width:80px;}
#board .boardsearch .inputText,#board .boardsearch .text{width:120px;}
}

/* 목록 - 버튼  */
@media only screen and (max-width:640px){
#board .boardNavigation{padding:10px 0;}
}

/* 배너 */
#banner_box ul li a{line-height:40px;}
#banner_box ul li span.title{position:static;display:inline-block;padding-left:175px;line-height:15px;vertical-align:middle;}
@media only screen and (max-width:640px){
#banner_box{display:block;padding:0;}
#banner_box ul{float:none;background:none;}
#banner_box ul:after{clear:both;display:block;width:100%;height:1px;line-height:0;content:'';}
#banner_box ul li{height:60px;padding:10px 2%;text-align:center;border-bottom:1px dashed #ccc;box-sizing:border-box;}
#banner_box ul li:nth-child(odd){border-right:1px dashed #ccc;}
#banner_box ul li a{display:block;width:100%;padding:0;height:40px;line-height:40px;}
#banner_box ul li span.img{display:none;}
#banner_box ul li span.title{padding:0;}
#banner_box ul li span.link{display:none;}
}

/* 팝업 */
#pop_box ul li a{padding:0 2%;box-sizing:border-box;}
#pop_box ul li span.title{height:40px;line-height:18px;}
@media only screen and (max-width:640px){
#pop_box{display:block;padding:0;}
#pop_box ul{float:none;}
#pop_box ul:after{clear:both;display:block;width:100%;height:1px;line-height:0;content:'';}
#pop_box ul li{height:inherit;padding:10px 5%;line-height:0;box-sizing:border-box;}
#pop_box ul li a{width:100%;height:inherit;}
#pop_box ul.pop_info li img{max-width:100%;max-height:100%;height:inherit;}
#pop_box ul li span.title{display:inline-block;padding:0;margin:5px 0 0;height:36px;overflow:hidden;}
#pop_box ul li span.link{display:none;}
}

/* 일반게시판 - 상세보기 */
#board table.bbs_basic{position:relative; border-top:none;}
#board table.bbs_basic:before{content:''; position:absolute; top:0; left:0; width:100%; height:2px; background:#546e8f;}
#board table.bbs_basic input.text {height:inherit;margin:0;}
#board table.bbs_basic tbody.tb td.board_text_td img{max-width:550px;}
@media only screen and (max-width:800px){
#board table.bbs_basic tbody.tb td.board_text_td img{max-width:450px;}
}
@media only screen and (max-width:640px){
#board table.bbs_basic{display:block;}
#board table.bbs_basic tbody{display:block;}
#board table.bbs_basic tbody tr{display:block;padding:5px 0;border-bottom:1px solid #e7e7e7;}
#board table.bbs_basic tbody.tb td,#board table.bbs_basic tbody.tb th{display:block;padding:0 2%;font-size:1em;text-align:left;border:none;background:none;}
#board table.bbs_basic tbody.tb td.subject{padding:0 2%;background:none;}
#board table.bbs_basic tbody.tb img{margin:0 5px;}
#board table.bbs_basic tbody.tb td.board_text_td{padding:5px 2%;}
#board table.bbs_basic tbody.tb td.board_text_td img{max-width:100%;}
#board table.bbs_basic input[type="text"],#board table.bbs_basic input[type="password"],#board table.bbs_basic select,#board table.bbs_basic textarea{width:100% !important;box-sizing:border-box;}
}

/*사이트맵*/
#contents #sitemap .site_map_col .sitemap_box{margin:0;}
#contents #sitemap .site_map_col .sitemap_box h2{position:relative;width:100%;padding:10px 0 8px;border:1px solid #e9e9e9;border-right:1px solid #c0c0c0;border-bottom:1px solid #c0c0c0;background:none;}
#contents #sitemap .site_map_col .sitemap_box h2:before{position:absolute;left:8px;top:-6px;display:inline-block;width:5px;height:17px;content:'';border:1px solid #e9e9e9;border-right:1px solid #c0c0c0;border-bottom:1px solid #c0c0c0;background-color:#fff;}
#contents #sitemap .site_map_col .sitemap_box h2 a{font-family:'NanumS';}
#contents #sitemap .site_map_col .sitemap_box > ul{margin-bottom:20px;}
#contents #sitemap .site_map_col .sitemap_box ul:after{clear:both;display:block;width:100%;height:0px;line-height:0;content:'';}
#contents #sitemap .site_map_col .sitemap_box > ul li{width:33.33%;padding:0 2%;box-sizing:border-box;}
#contents #sitemap .site_map_col .sitemap_box ul li ul{width:100%;}
#contents #sitemap .site_map_col .sitemap_box ul ul li{float:none;width:100%;}
#contents #sitemap .site_map_col .sitemap_box ul li a{float:none;display:inline-block;width:auto;line-height:18px;box-sizing:border-box;}
#contents #sitemap .site_map_col .sitemap_box ul li ul li a{float:none;padding:4px 0 2px 18px;background: url(/common/images/board/sitemap_li_li_bg.gif) no-repeat 13px 12px;}
#contents #sitemap .site_map_col .sitemap_box ul li:nth-child(4), #contents #sitemap .site_map_col .sitemap_box ul li:nth-child(7), #contents #sitemap .site_map_col .sitemap_box ul li:nth-child(10), #contents #sitemap .site_map_col .sitemap_box ul li:nth-child(14){clear:none;}
@media only screen and (max-width:640px){
#contents #sitemap .site_map_col .sitemap_box > ul li{clear:none !important;width:50%;}
#contents #sitemap .site_map_col .sitemap_box > ul li:nth-child(odd){clear:both !important;}
}
@media only screen and (max-width:400px){
#contents #sitemap .site_map_col .sitemap_box > ul li{float:none;width:100%;}
}

/* 청주시민신문 */
#news_box{display:block; width:100%;}
#news_box .news_box{width:46%;padding:0 2%;}
#news_box .news_box p.text{margin:5px 0 10px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
@media only screen and (max-width:640px){
#news_box .news_box p.img{display:inline-block;padding:2px;border:1px solid #ccc;background:none;}
#news_box .news_box p.img img{max-width:100%;}
#news_box .news_box p.select_box select{width:60%;}
}

/* 메일링서비스 */
@media only screen and (max-width:640px){
#colgroup #contents .mail_service{background:none;}
#contents .mail_service ul{width:100%;}
#contents .mail_service ul li{float:none;width:100%;}
#contents .mail_service_input p input.text{width:100%;}
#contents .mail_service_input h3{float:none;background:none;}
#contents .mail_service_input ul.bu{float:none;width:100%;background:none;}
#contents .mail_service_input ul.bu li{float:none;width:100%;}
}
@media only screen and (max-width:640px){
#contents .mesae_box,#colgroup #contents .mesae_service{background:none;}
}

/* 재난문자 SMS알림서비스신청 */
#contents .sms_service .sms_con li{position:relative;}
#contents .sms_service .sms_con em{display:inline-block;position:absolute;left:280px;top:12px;float:none;margin:0;}
@media only screen and (max-width:640px){
#contents .sms_service p input.text{width:100%;}
#contents .sms_service .sms_con label{display:block;}
#contents .sms_service .sms_con em{position:static;margin-right:5px;}
}

/* 설문통계 */
@media only screen and (max-width:640px){
.graph_box{width:100%;overflow-x:scroll;}
#board table.graph_list{width:640px;}
}

/* 버튼들 */
.button{padding:2px 7px 0;}
.button a{display:inline-block;float:none;color:#4a4a4a;font-family:'NanumG';height:20px;line-height:normal;}
.button input{float:none;height:24px;line-height:22px;color:#4a4a4a;border:none;font-family:'NanumG';}
.site_link_box_btn{text-align:center;}
.blue_btn,.gray_btn,.green_btn,.red_btn{height:26px;line-height:24px;padding:0 5px;color:#fff !important;box-sizing:border-box;}
.gray_btn input,.blue_btn input,.green_btn input,.red_btn input{border:none;float:none;height:26px;padding:0;margin:0;line-height:22px;font-family:'NanumG';}

/* 달력 팝업 */
#scheduler{width:100%;}
#scheduler .wrap{width:100%;}

/* 달력 상단부분 */
.scheduler_top h3{float:left;margin:0;}
.scheduler_top .calendar_selector{padding:5px 0;}
.scheduler_top .calendar_selector div{font-size:25px; color:#262625; font-weight:400; margin:1px 0 0 17px;}
.scheduler_top .calendar_selector div.year,.scheduler_top .calendar_selector div.day{padding-top:0}
.scheduler_top .calendar_selector p{float:right;}

/* 달력 */
.calendar th{vertical-align:middle;background:none;}
.calendar td{font-weight:600;}
/*
@media only screen and (max-width:640px){
.calendar{border-top:2px solid #000;}
.calendar,.calendar tbody,.calendar tr{display:block;width:100%;}
.calendar colgroup{display:none;}
.calendar th{display:none;}
.calendar td{display:none;width:100%;height:inherit;padding:5px 2% 5px 30px;border-top:none;box-sizing:border-box;}
.calendar td.yes{display:block;}
.calendar strong{position:absolute;left:0;top:5px;display:inline-block;width:30px;text-align:center;}
} 
*/

@media only screen and (max-width:640px){
.calendar{border-top:2px solid #000;}
.calendar,.calendar tbody,.calendar tr{display:block;width:100%;}
.calendar colgroup{display:block;}
.calendar th{display:none;}
.calendar td{display:none;width:100%;height:inherit;padding:5px 2% 5px 30px;border-top:none;box-sizing:border-box;}
.calendar td.yes{display:block;}
.calendar strong{position:absolute;left:0;top:5px;display:inline-block;width:30px;text-align:center;}
}

/* 읍면동주민센터 찾기 */
@media only screen and (max-width:800px){
#board .no_town{width:100%;height:inherit;padding:20px 5%;margin:0 auto;text-align:center;border:3px solid #2562a7;background:none;box-sizing:border-box;}
}

/* 설문조사 - 이벤트 개인정보 동의 2014-11-20 */
#event_check_box_top{width:100%;height:inherit;margin-bottom:20px;box-sizing:border-box;}
#event_check_box{width:100%;background-size:100% 100%;}
body #contents #event_check_box div{width:500px;padding:0;margin:0 auto;}
body #contents #event_check_box div p{float:none;width:100%;min-height:35px;box-sizing:border-box;}
body #contents #event_check_box label{background-position:6px 4px;}
body #contents #event_check_box label.skip{width:0;height:0;color:transparent;line-height:0;background:none;}
@media only screen and (max-width:800px){
#event_check_box_top{padding-left:180px;background-position:10px top;}
}
@media only screen and (max-width:640px){
#event_check_box_top{padding:12px 2% 20px;text-align:center;background:none;}
#event_check_box{height:inherit;padding:20px 2%;border:1px solid #ccc;background:none;box-sizing:border-box;}
body #contents #event_check_box{text-align:center;}
body #contents #event_check_box h2{display:inline-block;margin:0 auto;padding:5px 5%;margin-bottom:10px;border:2px solid #006B92;border-radius:50px;}
body #contents #event_check_box div{width:100%;text-align:left;}
body #contents #event_check_box div p{position:relative;height:inherit;padding:30px 5% 10px;}
body #contents #event_check_box div .no_label{padding:0 5%;}
body #contents #event_check_box label{position:absolute;left:0;top:0;padding-left:5%;background-position:2px 3px;}
body #contents #event_check_box div p em{display:inline-block;padding-top:5px;}
body #contents #event_check_box input.text{width:98% !important;}
body #contents #event_check_box input#zip{width:30% !important;}
}

/* 공유재산 상단 검색 2014-11-28 */
.money_box label.skip{padding:0;margin:0;color:transparent;background:none;}
@media only screen and (max-width:640px){
.money_box label{display:block;padding:5px 0 2px 27px;background-position:10px 8px;}
.money_box label.nobg{display:inline-block;padding:0;}
.money_box input.text{width:100%;}
}

/* 고시공고 iframe */
@media only screen and (max-width:800px){
.iframe_gosi{overflow:scroll;width:100%;margin-bottom:20px;}
.iframe_gosi iframe{width:700px !important;}
}