@charset "UTF-8";

@font-face{
	font-family: 'NotoKr';
	font-weight: 200;
	src: url("../font/SpoqaHanSansNeo-Light.woff2") format('woff2'),
	url("../font/SpoqaHanSansNeo-Light.woff") format('woff');
}

@font-face{
	font-family: 'NotoKr';
	font-weight: 400;
	src: url("../font/SpoqaHanSansNeo-Regular.woff2") format('woff2'),
	url("../font/SpoqaHanSansNeo-Regular.woff") format('woff');
}

@font-face{
	font-family: 'NotoKr';
	font-weight: 600;
	src: url("../font/SpoqaHanSansNeo-Medium.woff2") format('woff2'),
	url("../font/SpoqaHanSansNeo-Medium.woff") format('woff');
}
@font-face{
	font-family: 'remixicon';
	src: url("../font/remixicon.woff2") format('woff2'),
	url("../font/remixicon.woff") format('woff');
}
/* 코어드림 */
@font-face {
	font-family: 'CoreDream';
	font-weight: 400;
	src: url("../font/S-CoreDream-5.woff2") format('woff2'),
	url("../font/S-CoreDream-5.woff") format('woff');
}

/* 잘난 */
@font-face {
	font-family: 'Jalnan';
	font-weight: 400;
	src: /*url("../font/JalnanOTF.woff2") format('woff2');*/
	url("../font/JalnanOTF.woff") format('woff');
}

