@charset "UTF-8";

/* 애니메이션 */

@keyframes proBar{
    0%{width:0;}
    100%{width:100%;}
}

@keyframes split_ani {
    0%{opacity:0;transform:translateY(100%);}
    100%{opacity:1;transform:translateY(0);}
}

@keyframes gradient {
    0% {background-position: 0%;}
    50% {background-position: 100%;}
    100% {background-position: 0%;}
}

@keyframes cursor_ani {
    0%{width: 40px;}
    100%{width: 100%;}
}

@keyframes circle_ani {
    0%{transform: rotate(0deg);border-color: transparent;}
    50%{border-right-color: #eaf1f3;}
    90%{border-top-color: #eaf1f3;}
    95%{border-left-color: #eaf1f3;}
    100%{transform: rotate(360deg);}
}

/* rowgroup1 */
.rowgroup1 .visual_box{position: relative;}
.rowgroup1 .visual_box .visual_list{font-size: 0;line-height:0;}
.rowgroup1 .visual_box .visual_list .visual_item{height: 930px;background-size: cover;background-position: center;}

.rowgroup1 .visual_box .visual_content{position: absolute;top: 0;left: calc((100% - 1400px) / 2);width: 550px;height: 100%;padding-top: 270px;font-family: 'Segoe';color: #fff;}
.rowgroup1 .visual_box .visual_content .visual_title{font-weight: 200;font-size: 70px;line-height: 110px;letter-spacing: 0.055em;overflow: hidden;}
.rowgroup1 .visual_box .visual_content .visual_title.t2{font-size: 100px;font-weight: 400;letter-spacing: 0.025em;}
.rowgroup1 .visual_box .visual_content .visual_title span{transform: translateY(100%);animation: split_ani 1.5s both;animation-delay: 0.5s;opacity: 0;}

.rowgroup1 .visual_box .visual_content .visual_text{margin-top: 25px;font-weight: 400;letter-spacing: 0;font-size: 18px;line-height: 32px;word-break: keep-all;overflow: hidden;}
.rowgroup1 .visual_box .visual_content .visual_text span{transform: translateY(100%);animation: split_ani 1s both;animation-delay: 1.3s;opacity: 0;}

.rowgroup1 .visual_box .visual_content .visual_control{position: absolute;bottom: 60px;left: 0;font-size: 0;line-height: 0;}
.rowgroup1 .visual_box .visual_content .visual_control .con_item{display: inline-block;vertical-align:middle;}
.rowgroup1 .visual_box .visual_content .visual_control .visual_dot .slick-dots li{display: inline-block;margin-right: 25px;}
.rowgroup1 .visual_box .visual_content .visual_control .visual_dot .slick-dots li button{width: 20px;font-size: 17px;line-height: 32px;letter-spacing: 0;color: #fff;opacity: 0.2;border: none;}
.rowgroup1 .visual_box .visual_content .visual_control .visual_dot .slick-dots li.slick-active button{opacity: 1;}
.rowgroup1 .visual_box .visual_content .visual_control .progress_bar{width: 365px;height: 1px;margin-right: 15px;background-color: rgba(255, 255, 255, 0.2);}
.rowgroup1 .visual_box .visual_content .visual_control .progress_bar .gage{height: 100%;width: 0;vertical-align: top;background-color: #fff;}
.rowgroup1 .visual_box .visual_content .visual_control .progress_bar .gage.pro-ani{animation: proBar 5s 1;width:100%;}
.rowgroup1 .visual_box .visual_content .visual_control .visual_arrow .auto{width: 32px;height: 32px;vertical-align: top;background: url("/2024portfolio/2024/chungbuk/common/common2024/mediforeign/images/main/visual_arrow.png") no-repeat;border: 0;}
.rowgroup1 .visual_box .visual_content .visual_control .visual_arrow .auto.slick-play{background-position-x: -32px;}

@media all and (max-width: 1400px) {
    .rowgroup1 .visual_box .visual_content{left: calc((100% - 1000px) / 2);}
}

@media all and (max-width: 1000px) {
    .rowgroup1 .visual_box .visual_list .visual_item{height: 700px;}

    .rowgroup1 .visual_box .visual_content{left: 3%;width: 340px;padding-top: 200px;}
    .rowgroup1 .visual_box .visual_content .visual_title{font-size: 40px;line-height: 60px;}
    .rowgroup1 .visual_box .visual_content .visual_title.t2{font-size: 57px;}
    .rowgroup1 .visual_box .visual_content .visual_text{margin-top: 20px;font-size: 15px;line-height: 25px;}

    .rowgroup1 .visual_box .visual_content .visual_control .visual_dot .slick-dots li{margin-right: 15px;}
    .rowgroup1 .visual_box .visual_content .visual_control .visual_dot .slick-dots li button{font-size: 15px;}

    .rowgroup1 .visual_box .visual_content .visual_control .progress_bar{width: 150px;}
}

@media all and (max-width: 640px) {
    .rowgroup1 .visual_box .visual_list .visual_item{height: 500px;}
    .rowgroup1 .visual_box .visual_content{width: 240px;padding-top: 120px;}
    .rowgroup1 .visual_box .visual_content .visual_title{font-size: 22px;line-height: 40px;}
    .rowgroup1 .visual_box .visual_content .visual_title.t2{font-size: 32px;}
    .rowgroup1 .visual_box .visual_content .visual_text{margin-top: 15px;font-size: 13px;line-height: 20px;}

    .rowgroup1 .visual_box .visual_content .visual_control{bottom: 40px;}
    .rowgroup1 .visual_box .visual_content .visual_control .visual_dot .slick-dots li{margin-right: 10px;}
    .rowgroup1 .visual_box .visual_content .visual_control .visual_dot .slick-dots li button{font-size: 13px;}

    .rowgroup1 .visual_box .visual_content .visual_control .progress_bar{width: 105px;margin-right: 0;}
}

/* rowgroup2 */
.rowgroup2{margin-bottom: 85px;}
.rowgroup2 .short_title{margin-top: 85px;margin-bottom: 15px;padding-top: 20px;font-family: 'Jalnan';font-size:36px;line-height: 45px;letter-spacing: 0;color: #000;text-align: center;}

.rowgroup2 .short_list{font-size: 0;line-height: 0;}
.rowgroup2 .short_list .short_item{display: inline-block;width: calc((100% - 1px) / 8);height: 220px;vertical-align: top;text-align: center;}
.rowgroup2 .short_list .short_item .short_link{position: relative;width: 100%;height: 100%;border-radius: 20px;overflow: hidden;}
.rowgroup2 .short_list .short_item .short_link .link_wrap{position: relative;width: 100%;height: 100%;padding: 2px;}

.rowgroup2 .short_list .short_item .short_link em{position: relative;width: 100%;height: 100%;padding-top: 160px;font-size: 16px;line-height: 24px;letter-spacing: -0.02em;color: #474851;border-radius: 18px;background-color: #fff;font-weight: 400;}
.rowgroup2 .short_list .short_item .short_link em:before{display: block;position: absolute;top: 40px;left: calc(50% - 60px);width: 120px;height: 120px;background: url("/2024portfolio/2024/chungbuk/common/common2024/mediforeign/images/main/short_icon.png") no-repeat;}
.rowgroup2 .short_list .short_item .short_link.s2 em:before{background-position-x: -120px}
.rowgroup2 .short_list .short_item .short_link.s3 em:before{background-position-x: -240px}
.rowgroup2 .short_list .short_item .short_link.s4 em:before{background-position-x: -360px}
.rowgroup2 .short_list .short_item .short_link.s5 em:before{background-position-x: -480px}
.rowgroup2 .short_list .short_item .short_link.s6 em:before{background-position-x: -600px}
.rowgroup2 .short_list .short_item .short_link.s7 em:before{background-position-x: -720px}
.rowgroup2 .short_list .short_item .short_link.s8 em:before{background-position-x: -840px}

@media all and (min-width: 1001px) {
    .rowgroup2 .short_list .short_item .short_link em:after{display: block;position: absolute;bottom: -10px;right: -10px;width: 40px;height: 40px;background: #fff url("/2024portfolio/2024/chungbuk/common/common2024/mediforeign/images/main/short_arrow.png") no-repeat center;border-radius: 30px 5px 5px 5px;z-index: 1;box-shadow: -8px -5px 10px 0 rgba(2, 46, 50, 8%);opacity: 0;transition: opacity .2s ease-in-out;}
    .rowgroup2 .short_list .short_item .short_link:hover em:after{opacity: 1;}

    .rowgroup2 .short_list .short_item .short_link:before, .rowgroup2 .short_list .short_item .short_link:after, .rowgroup2 .short_list .short_item .short_link .link_wrap:before, .rowgroup2 .short_list .short_item .short_link .link_wrap:after{display: block;position: absolute;background-image: linear-gradient(160deg, #6f61de, #00aeba);background-size: 170px 220px;height: 100%;z-index: -1;background-position:bottom;}

    .rowgroup2 .short_list .short_item .short_link:before{bottom: 0;right: 20px;width: 0;height: 2px;transition: width .1s linear .4s;background-position:bottom;}
    .rowgroup2 .short_list .short_item .short_link:hover:before{width: 100%;transition-delay: .2s;}

    .rowgroup2 .short_list .short_item .short_link:after{bottom: 0;left: 0;width: 20px;height: 0;transition: height .2s linear .3s;background-position:bottom;}
    .rowgroup2 .short_list .short_item .short_link:hover:after{height: 100%;transition-delay: .3s;}

    .rowgroup2 .short_list .short_item .short_link .link_wrap:before{top: 0;left: 0;width: 0;height: 2px;transition: width .1s linear .2s;background-position: top;}
    .rowgroup2 .short_list .short_item .short_link .link_wrap:hover:before{width: 100%;transition-delay: .5s;}

    .rowgroup2 .short_list .short_item .short_link .link_wrap:after{top: 0;right: 0;width: 20px;height: 0;transition: height .2s linear 0s;background-position: top;}
    .rowgroup2 .short_list .short_item .short_link .link_wrap:hover:after{height: calc(100% - 20px);transition-delay: .6s;}
}

@media all and (max-width: 1400px) {
    .rowgroup2 .short_list .short_item{height: 180px;}
    .rowgroup2 .short_list .short_item .short_link em{padding-top: 120px;}

    .rowgroup2 .short_list .short_item .short_link em:before{top: 15px;}
}

@media all and (max-width: 1000px) {
    .rowgroup2 .short_title{margin-top: 50px;font-size: 26px;line-height: 40px;}

    .rowgroup2 .short_scroll{overflow-x: scroll;}
    .rowgroup2 .short_list{width: 1000px;}
}

@media all and (max-width: 640px) {
    .rowgroup2{margin-bottom: 30px;}
    .rowgroup2 .short_title{margin-top: 34px;margin-bottom: 25px;padding-top: 10px;font-size: 20px;line-height: 20px;text-align: left;}

    .rowgroup2 .short_list{width: 760px;margin-bottom: 6px;}

    .rowgroup2 .short_list .short_item{font-size: 14px;line-height: 20px;}
    .rowgroup2 .short_list .short_item{height: 100%;}
    .rowgroup2 .short_list .short_item .short_link em{padding-top: 80px;font-size: 14px;}
    .rowgroup2 .short_list .short_item .short_link em:before{left: calc(50% - 45px);top: 0;width: 90px;height: 90px;background-size: 800%;}
    .rowgroup2 .short_list .short_item .short_link.s2 em:before{background-position-x: -90px}
    .rowgroup2 .short_list .short_item .short_link.s3 em:before{background-position-x: -180px}
    .rowgroup2 .short_list .short_item .short_link.s4 em:before{background-position-x: -270px}
    .rowgroup2 .short_list .short_item .short_link.s5 em:before{background-position-x: -360px}
    .rowgroup2 .short_list .short_item .short_link.s6 em:before{background-position-x: -450px}
    .rowgroup2 .short_list .short_item .short_link.s7 em:before{background-position-x: -540px}
    .rowgroup2 .short_list .short_item .short_link.s8 em:before{background-position-x: -630px}
}

/* rowgroup3 */
.rowgroup3 .tour_wrap{position: relative;margin-bottom: 260px;}

.rowgroup3 .tour_content{position: absolute;top: 0;left: -40px;width: 660px;z-index: 1001;}
.rowgroup3 .tour_content .con_item{padding-top: 100px;padding-left: 40px;}
.rowgroup3 .tour_content .con_item .tour_eng_title{position: absolute;top: 0;left: 40px;font-family: 'Tangerine';font-weight: 400;font-size: 110px;line-height: 110px;letter-spacing: -0.01em;color: #ecf1f3;}
.tour_title{margin-bottom: 33px;font-family: 'Jalnan';font-size: 28px;letter-spacing: 0;color: #222;line-height: 50px;text-align: left;}
.tour_title span{display: block;padding-top: 20px;font-size: 80px;line-height: 70px;}
.rowgroup3 .tour_content .con_item .tour_tag{font-size: 0;line-height: 0;}
.rowgroup3 .tour_content .con_item .tour_tag li{display: inline-block;margin-right: 5px;padding: 0 15px;border-radius: 18px;border: 1px solid #dfe5e8;font-size: 13px;line-height: 34px;letter-spacing: -0.025em;box-sizing: border-box;color: #738084;}
.rowgroup3 .tour_content .con_item .tour_tag li:last-child{margin-right: 0;}

.rowgroup3 .tour_wrap .tour_list{margin-top: 20px;margin-left: 540px;width: 800px;border-radius: 160px 20px 20px 20px;/*overflow: hidden;*/background-color: #fff;}
.rowgroup3 .tour_wrap .tour_list:not(.sub_list) .slick-list{overflow: unset;}
.rowgroup3 .tour_wrap .tour_list .tour_item{vertical-align: top;text-align: center;}
.rowgroup3 .tour_wrap .tour_list .tour_link{width: 100%;height: 500px;cursor: none;background-position: center;background-size: cover;vertical-align: top;border-radius: 160px 20px 20px 20px;}

.rowgroup3 .tour_wrap .tour_list.sub_list{position: absolute;width: 400px;bottom: 0;left: calc(100% - 80px);margin-left: 0;margin-top: 0;border-radius: 0;z-index: -1;background-color: transparent;}
.rowgroup3 .tour_wrap .tour_list.sub_list .tour_item{padding-left: 80px;}
.rowgroup3 .tour_wrap .tour_list.sub_list .tour_item .tour_link{height: 450px;border-radius: 20px;}

.rowgroup3 .tour_wrap .tour_control{position: absolute;bottom: 7px;left: 465px;z-index: 1000;}
.rowgroup3 .tour_wrap .tour_control .tour_arrow{display: block;width: 75px;height: 75px;background: url("/2024portfolio/2024/chungbuk/common/common2024/mediforeign/images/main/thema_arrow2.png") no-repeat center;font-size: 0;line-height: 0;transition: background .5s ease-in-out;}
.rowgroup3 .tour_wrap .tour_control .tour_arrow.next_btn{background-image: url("/2024portfolio/2024/chungbuk/common/common2024/mediforeign/images/main/thema_arrow.png");}

.rowgroup3 .tour_call{position: absolute;bottom: 0;left: 0;width: 100%;z-index: -2;}
.rowgroup3 .tour_call:before{display: block;position: absolute;top: 0;left: -100px;width: 150vw;height: 260px;background: linear-gradient(to right, #01a4af, #6761de, #6761de);border-radius: 40px;transform: translateX(50%);opacity: 0;transition: transform 1s ease-in-out, opacity 1s ease-in-out;transition-delay: 1s;}
.rowgroup3 .tour_call .call_item{position: relative;padding: 25px 0 25px 30px;font-size: 0;line-height: 0;opacity: 0;transition: opacity 1s ease-in-out;transition-delay: 2s;}
.rowgroup3 .tour_call .call_item:before{display: block;position: absolute;top: calc(50% - 10px);left: 2px;width: 20px;height: 20px;background: url("/2024portfolio/2024/chungbuk/common/common2024/mediforeign/images/main/call_icon.png") no-repeat;}
.rowgroup3 .tour_call .call_item:after{display: block;position: absolute;right:0;bottom: 0;width: calc(100% + 100px);height: 1px;background-color: rgba(255, 255, 255, 0.6);transform: scaleX(0);transform-origin: left;transition: transform 1s ease-in-out;transition-delay: 2.5s;}
.rowgroup3 .tour_call .call_item .call_title{margin-right: 27px;padding-top: 10px;font-size: 20px;line-height: 20px;font-family: 'Jalnan';letter-spacing: 0;color: #fff;vertical-align: top;}
.rowgroup3 .tour_call .call_item .call_text{font-size: 16px;line-height: 30px;vertical-align: top;letter-spacing: -0.025em;color: #fff;}
.rowgroup3 .tour_call .call_item .call_text em{margin: 0 5px;}
.rowgroup3 .tour_call .call_item .call_text img{margin-top: 3px;vertical-align: top;}

.rowgroup3.scroll_ani[data-on="on"] .tour_call:before{transform: translateX(0);opacity: 1;}
.rowgroup3.scroll_ani[data-on="on"] .tour_call .call_item{opacity: 1;}
.rowgroup3.scroll_ani[data-on="on"] .tour_call .call_item:after{transform: scaleX(100%);}

@media all and (max-width: 1400px) {
    .rowgroup3 .tour_content{left: 0;width: 500px;}
    .rowgroup3 .tour_content .con_item{padding-top: 90px;padding-left: 30px;}
    .rowgroup3 .tour_content .con_item .tour_eng_title{left: 30px;font-size: 80px;line-height: 90px;}
    .tour_title{font-size: 24px;line-height: 40px;}
    .tour_title span{font-size: 60px;line-height: 70px;}
    .rowgroup3 .tour_content .con_item .tour_tag li{padding: 0 10px;}

    .rowgroup3 .tour_wrap .tour_list{width: 560px;margin-top: 0;margin-left: 440px;border-radius: 100px 20px 20px 20px;}
    .rowgroup3 .tour_wrap .tour_list .tour_link{height: 400px;}

    .rowgroup3 .tour_wrap .tour_list.sub_list{left: calc(100% - 20px);}
    .rowgroup3 .tour_wrap .tour_list.sub_list .tour_item{padding-left: 60px;}
    .rowgroup3 .tour_wrap .tour_list.sub_list .tour_item .tour_link{height: 350px;}

    .rowgroup3 .tour_wrap .tour_control{left: 380px;bottom: 20px;}
    .rowgroup3 .tour_wrap .tour_control .tour_arrow{width: 60px;height: 60px;}

    .rowgroup3 .tour_call:before{left: -50px;height: 200px;}
}

@media all and (min-width: 1001px) {
    .rowgroup3 .tour_wrap .tour_control .tour_arrow:hover{background-image: url("/2024portfolio/2024/chungbuk/common/common2024/mediforeign/images/main/thema_arrow2_on.png");}
    .rowgroup3 .tour_wrap .tour_control .tour_arrow.next_btn:hover{background-image: url("/2024portfolio/2024/chungbuk/common/common2024/mediforeign/images/main/thema_arrow_on.png");}

    .rowgroup3 .tour_list .tour_item .m_more_btn{position: absolute;bottom: -57px;right: -45px;width:140px;height: 140px;backdrop-filter: blur(10px);border-radius: 50%;pointer-events: none;text-align: center;z-index: 1001;background-color: rgba(255, 255, 255, 0.1);border: 1px solid rgba(255, 255, 255, 0.1);}
    .rowgroup3 .tour_list .tour_item .m_more_btn em{position: relative;line-height: 140px;font-family: 'Tangerine';font-size: 40px;letter-spacing: 0;color: #fff;}
    .rowgroup3 .tour_list .tour_item .m_more_btn em:before{display: block;position: absolute;top: calc(50% + 15px);left: 0;width: 40px;height: 1px;background-color: rgba(255, 255, 255, 0.5);}

    .rowgroup3 .tour_list .tour_item .tour_link:hover .m_more_btn em:before{animation: cursor_ani 0.5s both;animation-delay: 0.2s}

    .more_cursor{position: absolute;width:140px;height: 140px;backdrop-filter: blur(10px);border-radius: 50%;pointer-events: none;text-align: center;z-index: 1001;background-color: rgba(255, 255, 255, 0.1);border: 1px solid rgba(255, 255, 255, 0.1);}
    .more_cursor .more_text{position: relative;line-height: 140px;font-family: 'Tangerine';font-size: 40px;letter-spacing: 0;color: #fff;}
    .more_cursor .more_text:before{display: block;position: absolute;top: calc(50% + 15px);left: 0;width: 40px;height: 1px;background-color: rgba(255, 255, 255, 0.5);animation: cursor_ani 0.5s both;animation-delay: 0.2s}
}

@media all and (max-width: 1000px) {
    .rowgroup3 .tour_wrap{margin-bottom: 120px;}
    .rowgroup3 .tour_content{position: relative;width: 100%;max-width: 700px;margin: 0 auto 50px;}
    .rowgroup3 .tour_wrap .tour_list{width: 100%;max-width: 800px;margin-left: auto;margin-right: auto;border-radius: 20px;}
    .rowgroup3 .tour_wrap .tour_list .tour_item .tour_link{height: 58vw;max-height: 500px;min-height: 250px;}

    .rowgroup3 .tour_wrap .tour_list.sub_list{display: none;}

    .rowgroup3 .tour_content .con_item{padding-top: 80px;}
    .rowgroup3 .tour_content .con_item .tour_eng_title{font-size: 70px;line-height: 80px;}
    .tour_title{margin-bottom: 25px;font-size: 20px;line-height: 30px;}
    .tour_title span{font-size: 50px;line-height: 60px;}

    .rowgroup3 .tour_wrap .tour_control{left: 0;bottom: 250px;width: 100%;}
    .rowgroup3 .tour_wrap .tour_control .tour_arrow{display: inline-block;position: absolute;width: 50px;height: 50px;border-radius: 50%;background-color: rgba(255, 255, 255, 0.8);box-shadow: -8px -5px 10px 0 rgba(2, 46, 50, 8%);background-size: 7px 11px;}
    .rowgroup3 .tour_wrap .tour_control .tour_arrow.prev_btn{left: calc(50% - 415px);background-image: url("/2024portfolio/2024/chungbuk/common/common2024/mediforeign/images/main/thema_arrow_m.png");}
    .rowgroup3 .tour_wrap .tour_control .tour_arrow.next_btn{right: calc(50% - 415px);background-image: url("/2024portfolio/2024/chungbuk/common/common2024/mediforeign/images/main/thema_arrow_m.png");transform: rotate(180deg);}

    .rowgroup3 .tour_call{display: none;}
}

@media all and (max-width: 800px) {
    .rowgroup3 .tour_wrap .tour_control{bottom: 32vw;}
    .rowgroup3 .tour_wrap .tour_control .tour_arrow.prev_btn{left: -15px;}
    .rowgroup3 .tour_wrap .tour_control .tour_arrow.next_btn{right: -15px;}
}

@media all and (max-width: 1000px) and (min-width: 641px) {
    .rowgroup3 .tour_wrap .tour_list .tour_item .m_more_btn{display: none;}
}

@media all and (max-width: 640px) {
    .rowgroup3 .tour_wrap{margin-bottom: 20px;}
    .rowgroup3 .tour_content{margin-bottom: 30px;}
    .rowgroup3 .tour_content .con_item{padding-top: 57px;padding-left: 0;}
    .rowgroup3 .tour_content .con_item .tour_eng_title{left: 0;font-size: 60px;line-height: 60px;}
    .tour_title{margin-bottom: 15px;font-size: 20px;line-height: 28px;}
    .tour_title span{font-size: 40px;line-height: 30px;}

    .rowgroup3 .tour_content .con_item .tour_tag{display: inline-block;padding: 0 15px;border: 1px solid #dfe5e8;border-radius: 20px;}
    .rowgroup3 .tour_content .con_item .tour_tag li{padding: 0;margin-right: 5px;border: none;}

    .rowgroup3 .tour_wrap .tour_list{border-radius: 10px;}
    .rowgroup3 .tour_wrap .tour_list .tour_item{position: relative;}
    .rowgroup3 .tour_wrap .tour_list .tour_item .tour_link{margin-bottom: 56px;border-radius: 10px;}

    .rowgroup3 .tour_wrap .tour_list .tour_item .m_more_btn{display: block !important;}

    .rowgroup3 .tour_wrap .tour_control{bottom: 47vw;}
    .rowgroup3 .tour_wrap .tour_control .tour_arrow{width: 36px;height: 36px;}

    .rowgroup3 .tour_wrap .tour_list .tour_item .m_more_btn{position: absolute;bottom: 0;left: calc(50% - 35px);width: 70px;font-family: 'Tangerine';font-size: 32px;line-height: 56px;letter-spacing: 0;color: #222;text-decoration: none;}
    .rowgroup3 .tour_wrap .tour_list .tour_item .m_more_btn:before{display: block;position: absolute;bottom: calc(50% - 14px);left: 0;width: 100%;height: 1px;background-color: #222;}
}

/* rowgroup4 */
.rowgroup4 .notice_wrap{margin-bottom: 90px;font-size: 0;line-height: 0;}
.rowgroup4 .notice_wrap .notice_box{display: inline-block;position: relative;width: calc((100% - 60px) / 2);vertical-align: top;}
.rowgroup4 .notice_wrap .notice_box.basic_notice{margin-right: 60px;}

.rowgroup4 .notice_wrap .notice_box .notice_title{margin-bottom: 15px;padding-top: 20px;font-family: 'Jalnan';font-size: 28px;line-height: 45px;letter-spacing: 0;color: #222;}

.rowgroup4 .notice_wrap .notice_box .notice_list{border-top: 1px solid #222;}
.rowgroup4 .notice_wrap .notice_box .notice_list .notice_item{border-bottom: 1px solid rgba(34, 34, 34, 8%);}
.rowgroup4 .notice_wrap .notice_box .notice_list .notice_item:last-child{border-bottom-color:rgba(34, 34, 34, 20%);}

.rowgroup4 .notice_wrap .notice_box .notice_list .notice_item .n_link{width: 100%;}

.rowgroup4 .notice_wrap .notice_box .notice_list .notice_item span{vertical-align: middle;}
.rowgroup4 .notice_wrap .notice_box .notice_list .notice_item .n_month{width: 55px;font-size: 14px;line-height: 44px;color: #9ea9ab;vertical-align: top;}
.rowgroup4 .notice_wrap .notice_box .notice_list .notice_item .n_day{}
.rowgroup4 .notice_wrap .notice_box .notice_list .notice_item .n_type{width: 70px;margin-right: 20px;font-weight: 400;font-size: 18px;line-height: 84px;color: #02a4af;}
.rowgroup4 .notice_wrap .notice_box .notice_list .notice_item .n_title{width: calc(100% - 225px);font-size: 16px;line-height: 84px;color: #62696d;vertical-align: top;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-weight: 400;}

.rowgroup4 .notice_wrap .notice_box .notice_list .notice_item .n_line{width: 60px;margin-right: 20px;padding-top: 20px;font-family: 'Jalnan';color: white;font-size: 42px;line-height: 64px;text-shadow: 1px 1px 0 #02a4af, -1px -1px 0 #02a4af, 1px -1px 0 #02a4af, -1px 1px 0 #02a4af;text-align: center;transition: color 250ms ease-in-out;}
.rowgroup4 .notice_wrap .notice_box.qna_notice .notice_list .notice_item .n_line{text-shadow: 1px 1px 0 #6762de, -1px -1px 0 #6762de, 1px -1px 0 #6762de, -1px 1px 0 #6762de;}
.rowgroup4 .notice_wrap .notice_box.qna_notice .notice_list .notice_item .n_type{color: #6761de;}
.rowgroup4 .notice_wrap .notice_box.qna_notice .notice_list .notice_item .n_title{width: calc(100% - 170px);}

.rowgroup4 .notice_wrap .notice_box .notice_more{position: absolute;top: 0;right: 0;width: 70px;height: 80px;font-size: 0;line-height: 0;background: url("/2024portfolio/2024/chungbuk/common/common2024/mediforeign/images/main/notice_more.png") no-repeat center;transform: rotate(0deg);transition: transform 250ms ease-in-out;}

@media all and (min-width: 1001px) {
    .rowgroup4 .notice_wrap .notice_box .notice_more:hover{transform: rotate(180deg);}
    .rowgroup4 .notice_wrap .notice_box .notice_list .notice_item .n_link:hover .n_line{color: #02a4af;}
    .rowgroup4 .notice_wrap .notice_box.qna_notice .notice_list .notice_item .n_link:hover .n_line{color: #6761de;}
}

@media all and (max-width: 1000px) {
    .rowgroup4 .notice_wrap{width: 100%;max-width: 800px;margin: 0 auto 80px;}

    .rowgroup4 .notice_wrap .notice_box{width:100%;}
    .rowgroup4 .notice_wrap .notice_box.basic_notice{margin-right: 0;margin-bottom: 50px;}
}

@media all and (max-width: 640px) {
    .rowgroup4 .notice_wrap{margin-bottom: 43px;}
    .rowgroup4 .notice_wrap .notice_box.basic_notice{margin-bottom: 30px;}

    .rowgroup4 .notice_wrap .notice_box .notice_title{font-size: 20px;line-height: 40px;}

    .rowgroup4 .notice_wrap .notice_box .notice_list .notice_item{position: relative;padding: 0 5px;}
    .rowgroup4 .notice_wrap .notice_box .notice_list .notice_item .n_month{position: absolute;top: 0;left: 0;font-size: 12px;line-height: 30px;text-align: center;}
    .rowgroup4 .notice_wrap .notice_box .notice_list .notice_item .n_type{width: 60px;margin-right: 7px;font-size: 15px;font-weight: 600;}
    .rowgroup4 .notice_wrap .notice_box .notice_list .notice_item .n_title{width: calc(100% - 120px);font-size: 14px;}

    .rowgroup4 .notice_wrap .notice_box .notice_list .notice_item .n_line{width: 45px;margin-right: 5px;font-size: 30px;}

    .rowgroup4 .notice_wrap .notice_box.qna_notice .notice_list .notice_item .n_line{width: 35px;}
    .rowgroup4 .notice_wrap .notice_box.qna_notice .notice_list .notice_item .n_title{width: calc(100% - 110px);}


    .rowgroup4 .notice_wrap .notice_box .notice_more{width:40px;height: 40px;}
}

/* rowgroup5 */
.rowgroup5 .service_wrap{position: relative;margin-bottom: 127px;text-align: center;}
.rowgroup5 .service_title{margin-bottom: 85px;}
.rowgroup5 .one_service{font-size: 0;line-height: 0;overflow: unset;text-align: center;}
.rowgroup5 .one_service .service_item{display: inline-block;position: relative;width: calc((100% - 201px) / 6);max-width: 200px;height: 200px;margin-right: 40px;margin-top: 30px;text-align: center;box-shadow: 5px 25px 20px 0 rgba(3, 17, 44, 5%);border-radius: 20px;}
.rowgroup5 .one_service .service_item:last-child{margin-right: 0;}

.rowgroup5 .one_service .service_item{position: relative;transform: translateY(10px);opacity: 0;transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;transition-delay: 1000ms;}
.rowgroup5 .one_service .service_item.s2{transition-delay: 1150ms;}
.rowgroup5 .one_service .service_item.s3{transition-delay: 1300ms;}
.rowgroup5 .one_service .service_item.s4{transition-delay: 1450ms;}
.rowgroup5 .one_service .service_item.s5{transition-delay: 1600ms;}
.rowgroup5 .one_service .service_item.s6{transition-delay: 1750ms;}

.rowgroup5.scroll_ani[data-on="on"] .one_service .service_item{transform: translateY(0);opacity: 1;}

.rowgroup5 .one_service .service_item:before{display: block;position: absolute;top: calc(50% - 7px);left: calc(100% + 18px);width: 8px;height: 14px;background: url("/2024portfolio/2024/chungbuk/common/common2024/mediforeign/images/main/service_arrow.png") no-repeat;}
.rowgroup5 .one_service .service_item:last-child:before{display: none;}

.rowgroup5 .one_service .service_item .item_num{position: absolute;top: -38px;left: 5px;font-size: 60px;line-height: 60px;font-family: 'Segoe';font-weight: 800;background: linear-gradient(135deg, #02c3d4, #4f48ea);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}

.rowgroup5 .one_service .service_item .service_text{position: relative;padding-top: 140px;font-size: 16px;line-height: 24px;color: #62696d;font-weight: 400;}
.rowgroup5 .one_service .service_item .service_text:before{display: block;position: absolute;top: 30px;left: calc(50% - 50px);width: 100px;height: 100px;background: url("/2024portfolio/2024/chungbuk/common/common2024/mediforeign/images/main/service_icon.png") no-repeat;}
.rowgroup5 .one_service .service_item.s2 .service_text:before{background-position-x: -100px;}
.rowgroup5 .one_service .service_item.s3 .service_text:before{background-position-x: -200px;}
.rowgroup5 .one_service .service_item.s4 .service_text:before{background-position-x: -300px;}
.rowgroup5 .one_service .service_item.s5 .service_text:before{background-position-x: -400px;}
.rowgroup5 .one_service .service_item.s6 .service_text:before{background-position-x: -500px;}

.rowgroup5 .service_more{position: absolute;top: 50px;right: 0;font-family: 'Tangerine';font-size: 40px;line-height: 90px;color: #222;background: linear-gradient(to right, transparent, #fff 30%);text-decoration: none;}
.rowgroup5 .service_more:before{display: block;position: absolute;top: calc(50% - 35px);left: -33px;width: 70px;height: 70px;border-radius: 50%;border: 2px solid #eaf1f3;z-index: -1;}
.rowgroup5 .service_more:after{display: block;position: absolute;top: calc(50% + 18px);left: 0;width: 38px;height: 1px;background-color: #222;transition: width 250ms ease-in-out;}

@media all and (min-width: 1001px) {
    .rowgroup5 .service_more:hover:before{animation: circle_ani 1.5s ease-in-out;}
    .rowgroup5 .service_more:hover:after{width: 100%;}
}

@media all and (max-width: 1000px) {
    .rowgroup5 .service_wrap{max-width: 800px;margin: 0 auto 100px;}
    .rowgroup5 .one_service .service_item{width:calc((100% - 61px) / 3);margin-right: 30px;}
    .rowgroup5 .one_service .service_item:nth-child(3n){margin-right: 0;}
    .rowgroup5 .one_service .service_item:nth-child(n + 4){margin-top: 60px;}
    .rowgroup5 .one_service .service_item:before{display: none;}
}

@media all and (max-width: 640px) {
    .rowgroup5 .service_wrap{margin-bottom: 45px;}

    .rowgroup5 .service_title{margin-bottom: 14px;}

    .rowgroup5 .one_service .service_item{width:calc((100% - 20px) / 2);height: 150px;margin-right: 20px;margin-top: 17px;}
    .rowgroup5 .one_service .service_item:nth-child(3n){margin-right: 20px;}
    .rowgroup5 .one_service .service_item:nth-child(2n){margin-right: 0;}

    .rowgroup5 .one_service .service_item:nth-last-child(n + 3){margin-top: 30px;}

    .rowgroup5 .one_service .service_item .item_num{top: -17px;font-size: 42px;line-height: 42px;}

    .rowgroup5 .one_service .service_item .service_text{padding-top: 104px;font-size: 15px;line-height:21px;}
    .rowgroup5 .one_service .service_item .service_text:before{top: 16px;left: calc(50% - 45px);width: 90px;height: 90px;background-size: 600%;}

    .rowgroup5 .one_service .service_item.s2 .service_text:before{background-position-x: -90px;}
    .rowgroup5 .one_service .service_item.s3 .service_text:before{background-position-x: -180px;}
    .rowgroup5 .one_service .service_item.s4 .service_text:before{background-position-x: -270px;}
    .rowgroup5 .one_service .service_item.s5 .service_text:before{background-position-x: -360px;}
    .rowgroup5 .one_service .service_item.s6 .service_text:before{background-position-x: -450px;}

    .rowgroup5 .service_more{position: relative;top: auto;right: auto;background: none;font-size: 32px;line-height: 56px;}
    .rowgroup5 .service_more:before{display: none;}
    .rowgroup5 .service_more:after{top: auto;bottom: calc(50% - 14px);width: 100%;}
}