@charset "UTF-8";article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block;}
audio,canvas,progress,video{display:inline-block;}
html,body,div,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,ol,ul,li,blockquote,pre,button,fieldset,form,legend,table,caption,tbody,tfoot,thead,tr,th,td,iframe,article,aside,canvas,details,embed,figure,figcaption,header,footer,menu,nav,section,summary,audio,video{margin:0;padding:0;border:0;font-size:inherit;font-family:inherit;vertical-align:baseline;}
*{-webkit-text-size-adjust:none;-moz-text-size-adjust:none;}
input[type="submit"]{-webkit-appearance:none;-moz-appearance:none;}
img,fieldset{border:none;}
b,strong{font-weight:500;}
em,dfn,cite,address,i{font-style:normal;}
mark{background-color:#ff0;color:#000;}
small{font-size:90%;}
sup,sub{position:relative;font-size:0.9em;line-height:0;vertical-align:baseline;}
sub{bottom:-0.25em;}
sup{top:-0.5em;}
del{text-decoration:line-through;}
label{cursor:pointer;}
ul,li{list-style:none;}
hr{visibility:hidden;overflow:hidden;position:absolute;width:0;height:0;}
table{border-collapse:collapse;border-spacing:0;}
legend,caption,#contents .skip,.skip{position:absolute;top:0;left:0;margin:0;padding:0;color:rgba(255,255,255,0);font-size:3px;line-height:1px;}
#contents .skip:before,.skip:before{display:none;}
.clearfix:after{display:block;visibility:hidden;clear:both;content:".";overflow:hidden;width:0;height:0;font-size:0;line-height:0;text-indent:-9999px;}
.clearfix{display:inline-block;}
.clearfix{display:block;}
.clear{clear:both;}
.hide{display:none;}
@media all and (max-width:800px){#contents .skip,.skip{position:absolute;width:0;height:0;margin:0;padding:0;color:rgba(255,255,255,0);font-size:0;line-height:0;}
}
.fleft{display:inline;float:left;}
.fright{display:inline;float:right;}
input{font-size:inherit;font-family:inherit;color:inherit;vertical-align:middle;}
input[type="file"]{border:none;}
input[type="image"]{height:auto;margin:0;border:none;padding:0;line-height:inherit;}
button{margin:0;padding:0;background:none;border:none;border-radius:0;text-transform:none;vertical-align:middle;}
button,[type="button"],[type="reset"],[type="submit"]{margin:0;padding:0;background:none;border:none;cursor:pointer;}
select{font-size:inherit;font-family:inherit;color:inherit;text-transform:none;vertical-align:middle;}
textarea{font-size:inherit;font-family:inherit;color:inherit;vertical-align:middle;resize:none;}
input[disabled="disabled"]{background:#ebebeb;color:#959595;}
select[disabled="disabled"]{background:#ebebeb;color:#959595;}
input{height:28px;margin:1px;padding:1px 3px;border:solid 1px #dedede;line-height:28px;}
input[type="submit"]{height:28px;line-height:16px;border-radius:0;}
input[type="radio"],input[type="checkbox"]{width:14px;height:14px;}
select{height:28px;padding:1px 0 1px 3px;border:solid 1px #dedede;background:#fff;line-height:24px;}
textarea{min-height:80px;padding:1px 3px;border:solid 1px #dedede;line-height:25px;}
a:link{color:#636363;text-decoration:none;}
a:visited{color:#636363;text-decoration:none;}
a:hover{color:#000;text-decoration:underline;}
a:active{color:#000;text-decoration:underline;}
a[href^="tel:"]{}
body{color:#313131;font-family:'Noto Sans','Noto Sans KR','Noto Sans CJK KR',NotoKr,'Malgun Gothic','맑은 고딕',Dotum,'돋움',AppleGothic,AppleSDGothicNeo,Helvetica,sans-serif;font-size:15px;font-size-adjust:none;font-weight:400;line-height:1.6em;}
.accessibility{overflow:hidden;position:relative;z-index:1000;width:100%;}
.accessibility a{display:block;overflow:hidden;height:1px;width:1px;margin:0 -1px -1px 0;font-size:0;line-height:0;text-align:center}
.accessibility a:focus, #accessibility a:hover, #accessibility a:active{width:auto;height:20px;margin:0;padding:8px 0 0 15px;background:#20262c;font-size:12px;font-weight:700;line-height:1;color:#fff;}